<form method="POST",  action="/login" id="user_form">

  <input name="authenticity_token" value="<%= form_authenticity_token %>", type="hidden">

    <ul class="no-list-style">

      <li><input class="form-field bigger-field" type="text" name="username" placeholder="username" ></li>

      <li><input class="form-field bigger-field" type="password" name="password" placeholder="password" ></li>

      <li><input type="submit" value="login"></li>

    </ul>

</form>
