<%= form_tag login_path %>
  <ul class="no-list-style">
    <li><%= text_field_tag(:username, nil, placeholder: "Username", class: "form-field") %></li>
    <li><%= password_field_tag(:password, nil, placeholder: "Password", class: "form-field") %></li>
    <li><%= submit_tag "Log in" %>
  </ul>

