<%= form_for root_path, method: :get do |f| %>
  <p>
    <%= text_field_tag :q, params[:q], placeholder: "Search for", id: "search-field", class: "form-field" %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>