<div class="row">
  <div class="static-width">
    <div class="col-4 col-offset-4 center">
      <%= render 'form' %>
    </div>
  </div>
</div>

<% if defined? @search_results %>
  <div id="search-results" class="row col-8 col-offset-2 search-results">
    <% @search_results.each do |bookmark| %>
      <div class="col-3">
        <%= current_user.user_bookmarks.find_by(bookmark: bookmark).name %>
      </div>
      <div class="col-8">
        <%= link_to bookmark.url, bookmark.url %>
      </div>
      <div class="col-1">
        <%= link_to "preview", bookmark.url, id: "search-result-link" %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="row">
  <div class="static-width center">
    <div id="preview-frame" class="col-10 col-offset-1 center preview-frame">
    </div>
  </div>
</div>