<%= form_for [@user_bookmark, @snippit] do |f| %>
  <ul class="no-list-style center">
    <li class="inline"><%= f.text_field :name, required: true, placeholder: "Name", class: "snippit-name form-field" %></li>
    <li class="inline"><%= f.text_area :content, required: true, class: "left form-field snippit-content" %></li>
    <li class="inline"><%= f.submit %></li>
  </ul>
<% end %>