<div id="new-snippit" class="col-4 col-offset-4 center static-width">

  <%= render 'form' %>

  <h1 class="markdown-meta-header">How to Use Snippits</h1>
  <p class="markdown-content">Use Snippits to jot down notes on a particular bookmark or copy and save references here to refer back to later.</p>
  <p class="markdown-content">Provide details, and share your Snippits.</p>

  <h1 class="markdown-meta-header">How to Format</h1>
  <h2 class="markdown-meta-sub-header">Our form fields now support Markdown!</h2>
  <ul class="markdown-meta-markdown-tips no-list-style">
    <li>_italic_ or **bold**</li>
    <li>put returns between paragraphs</li>
    <li>use ``` followed by language to enter code blocks</li>
    <li>quote by place > at the start of line</li>
    <li>to add links use:</li>
    <li>[alt text](http://foo.com)</li>
    <li><span class="primary-blue">basic HTML</span> also allowed</li>
    <li><a href="https://daringfireball.net/projects/markdown/"><span class="primary-blue">formating help</span></a></li>
  </ul>


</div>