.folder-form-name {
  width: 35%;
}

.folder-div {
  padding: 0 1rem;
  border-top: 1px solid #E7E7E9;
  border-bottom: 1px solid #E7E7E9;
}

.folder-div:hover {
  background: #000;
  color: #fff;
}

.folder-div:hover a {
  color: #D7DBD7;
}

.folder {
  font-style: bold;
}

.mondify {
  font-size: .5rem;
}