.header {
  background: #111111;
}

.welcome-banner {
  font-size: 3rem;
  font-weight: 700;
}

.main-nav {
  margin: 6rem 0;
}

.footer {
  font-size: .75rem;
  background: #111111;
  padding: 1rem;
}