.header {
  background: #111111;
}

.col-13 {	
  margin-bottom: -1em;
  background: #111111;
}

.error-message {
  color: #fff50c;
}

#notice-message {
  color: #27bd40;
}

#warning-message {
  color: #ff1a01;
}

.welcome-banner {
  font-size: 2.5rem;
  font-weight: 700;
}

.main-nav {
  margin: 6rem 0;
}

.header-links {
  margin-top: 2rem;
}

.footer {
  font-size: .75rem;
  background: #111111;
  padding: 1rem;
}