.search-result {
  margin: 4rem 0;
  font-size: .75rem;
}

.search-results {
  background: #232323;
  padding: 0 1rem;
}

/*.search-bar {
  margin-top: .1rem;
}
*/

.jumbotron {
  background: url("banner.png");
}

.preview-frame {
  margin-top: 2rem;
}

.disclaimer {
  font-size: .75rem;
}