<div class="static-width">

  <div class="col-12">

    <div class="row center">

      <%= render 'user_dash_nav' %>

    </div>

    <div class="row">

      <%= render partial: 'col_1', locals: {user_folders: @user_folders} %>

      <div id="user-dash-folder-display" class="col-5 user-dash-column-2 user-dash-column">

        <%= render partial: 'user_dash_folder_display_default', locals: {user_bookmarks: @user_bookmarks} %>

      </div>

    </div>

  </div>

</div>
