<h1>we are in the show page</h1>
<%@user_bookmarks.each do |resource|%>
      <%=resource.name%>
      <%=resource.bookmark.url%>
      <div>
      <%resource.categories.each do |tag|%>
        <%=tag.name%>
      <%end%>
<%=link_to "home", root_path%>
