<div id="user-bookmark-show" class="col-4 col-offset-4 static-width">

  <ul class="no-list-style">

    <li><h1 class="bookmark-meta-name">Name: <%= @user_bookmark.name %></h1><li>

    <li><p class="bookmark-meta-url">URL: <%= @user_bookmark.bookmark.url %></p></li>

    <li><p class="bookmark-meta-folder">Folder: <%= @user_bookmark.folder.name %></p></li>

  </ul>

</div>

